.footer{
  background: url("./../img/footer/footer.jpg") no-repeat;
  color: #fff;
  background-size: cover;

.link{
  &:hover{
    img{
      opacity: .7;
    }
  }
}

  &__wrapper {
    position: relative;
    padding: 3rem 3rem 1rem 0 ;
    &::before {
      content: "";
      background: rgba(0, 0, 0, .8);
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  &__list{
    padding-top: .75rem;
    li:first-child{
      border-bottom: 1px solid;
      padding: 0 0 .5rem;
      margin-bottom: .75rem;
    }
  }

  .list-responses{
    &__link {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      min-width: 175px;
      max-width: 200px;
      line-height: 10px;

      img{
        height: fit-content;
      }
    }
  }
  &__social-icon:not(:last-child){
    margin-right: 8px;
  }
  &__pay-icon:not(:last-child){
    margin-right: 16px;
  }
}