//colors
$white: #fff;
$black: #1a1a1a;
$primary: rgb(224, 146, 47);
$primary-dark: #dc7d05;
$light-pink: #f1508d;
$grey: #a2a0a3;
$light-grey: #f2f1f3;

//border-radius
$border-radius: 8px;

// breakpoints
$xxxl: 1650px;
$xxl: 1440px;
$xl: 1280px;
$lg: 1024px;
$xmd: 840px;
$md: 768px;
$sm: 515px;
$xs: 414px;